<img style="margin-left: 640px;"  [src]="ch" width="70px" height="70px">
<h6 style="text-align: center;"><br>Administrateur : <span class="class">{{adm}}</span> </h6> 
<br><br>

<h6 style="text-align: center; " ><span style="background-color:#F0E5E3 ;">Aujourd'hui le : {{date | date:'dd-MMMM-yyyy HH:mm'}}</span></h6>
<body>
<div id="d1">Bonjour , </div> 
<div> 
   <span> bienvenue chez MayEm !</span>
 </div>
 

<br><br><!--<h1 style="text-align: center;color:#273746">Bonjour , bienvenue chez MayEm !</h1>-->
</body>
<button style="margin-left: 630px" class="btn btn-success" [routerLink] ="['/login']">Se connecter</button>
<footer style="position: relative;top: 200px;text-align: center;">Created by Emna&Maïssa Copyright © 2019 </footer>

