<!--<div  class="nav justify-content-center  bg-dark" >
<ul  class=" navbar navbar-light"> 
    <li>
        <a style="color:white" class="nav-link"></a>
     </li>
    <li class="nav-item">
        <a  style="color:white" class="nav-link"
    </li>
    <li class="nav-item">
        <a  style="color:white" class="nav-link"
    </li>
</ul></div>-->

<nav class="nav nav-pills nav-tabs  nav justify-content-center  bg-dark ">
    <a class="nav-link  nav-item "style="color: white;"   [routerLink]="['/presentation',admin]">Présentation</a>
    <a class="nav-link  nav-item" style="color: white;" [routerLink]="['/accueil']">Accueil</a>
    <a class="nav-link nav-item"  style="color: white;" [routerLink]="['/add-produit']">Ajouter Produit</a>
    <a class="nav-link nav-item"  style="color: white;" [routerLink]="['/login']">Se connecter</a>
    <a class="nav-link nav-item"  style="color: white;" [routerLink]="['/modifier']">Modifier Produit</a>
    <a class="nav-link nav-item"  style="color: white;" [routerLink]="['/supprimer']">Supprimer Produit</a>

</nav>