<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
            <li  data-slide-to="0" ></li>
            <li  data-slide-to="1" class="active" ></li>
            <li  data-slide-to="2"></li>
          </ol>
<img [src]="img" height="550"width="100%" >
 <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev" (focus)="oncal(-1)">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next" (focus)="oncal(+1)">
    <span class="carousel-control-next-icon" aria-hidden="true" ></span>
    <span class="sr-only">Next</span>
  </a>
  <div class="carousel-caption">
        <h3 class="h3-responsive">Administrer</h3>
        <p>MayEm</p>
      </div>
  </div>
<br>
<br>
<br>
        <app-acc></app-acc>
        <footer style="position: relative;top: 180px;text-align: center;">Created by Emna&Maïssa Copyright © 2019 </footer>
  
      